	           //* Подключаем шрифты*//

	@font-face {
    font-family: "Open Sans Regular"; /* Имя шрифта */
    src: url("../fonts/OpenSans.ttf"); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: "Open Sans Bold"; /* Имя шрифта */
    src: url("../fonts/OpenSans Bold.ttf"); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: "Open Sans Semibold"; /* Имя шрифта */
    src: url("../fonts/OpenSans Semibold.ttf"); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: "Open Sans Light"; /* Имя шрифта */
    src: url("../fonts/OpenSans Light.ttf"); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: "Museo Sans 100"; /* Имя шрифта */
    src: url("../fonts/MuseoSans 100.otf"); /* Путь к файлу со шрифтом */
   }
   html, body {
    margin: 0;
    padding: 0;
    height: 1960px;
    width: 1920px;
    font-family: "Open Sans Regular";
    font-size: 1em;
    background-color: #FFFFFF;
}

	header {
	display: block;
    margin: 0;
    padding: 0;
    width: 1920px;
	height: 96px;
	background: url(../img/header_background.png) no-repeat;
	}
	.header__logo{
		margin-left: 489px;
		margin-top: 24px;
		width: 162px;
		height: 40px;		
		background: url(../img/header_logo.png) no-repeat;
		display: inline-block;
        vertical-align: top;
	}			


.dropdown-top:hover {
    color: #243143;
    background-color: #028BBC;
    height: 89px;
    color:white;
    text-align: center;  
}

.dropdown {
	height: 89px;
	display: inline-block;
    width: auto;
    height: 89px;
    margin-left: 101px;
    margin-top: -1px;
    vertical-align: middle;
    font-size: 0;
}

.dropdown li {
    height: 89px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    text-align: justify;
|

}

.dropdown a {
    color: #434343;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    height: 89px;
    line-height: 89px;
    font-size: 18px;
    font-family: "Open Sans Semibold";
}

ul.dropdown li {
    position: relative;
}

ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
    height: 265px;
    width: 250px;
    border-bottom: 5px solid #00A8E0;
    background-color: #E4FAFB;
    margin: 0;
    padding: 20px 0;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside li {
    display: block;
    left: 0;
    height: auto;
    width: 100%;
    margin: 0;
}

.dropdown-top_expander{
    overflow: hidden;
    padding: 0 19px;
}
.dropdown-top_down{
    width: 72px;
    padding: 0 17px;
}
.registration_form{
    padding-top: 20px;
}
#login-field,
#password-field{
    height: 33px;
    width: 200px;
    margin-left: 25px;
    border-radius: 2px;
    margin-top: 24px;
}
#submit-field{
    height: 48px;
    width: 200px;
    margin-left: 25px;
    border-radius: 4px;
    margin-top: 24px;
    border-bottom: 3px solid #648D3C;
    background-color: #87CC44;
    font-family: "Open Sans Bold";
    color: white;

}
.forgot-password{
    font-family: "Open Sans Light";
}

.language-menu{
    height: 89px;
    display: inline-block;
    width: auto;
    height: 30px;
    margin-left: 121px;
    margin-top: 29px;
    vertical-align: top;
    font-size: 0;
}

.language-menu__button{
    overflow: hidden;
    display: inline-block;
    padding: 0 5px;
 /*   width: 48px;
    height: 30px;*/
}
.language-menu__button a {
    color: #434343;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-family: "Open Sans Semibold";
}
.language-menu__button li {
    height: 30px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    text-align: justify;
    margin-right: 0px;
}
.language-menu__button:hover {
    color: white;
    background-color: #028BBC;
    height: 30px;
    color:white;
    text-align: center;  
}